body{
	margin:0 auto;
	padding: 0px;
	background-color: #68cdd5;
	min-width:320px;
}
p{
	color: white;
	font-size: 20px;
	padding: 16%;
	letter-spacing: 5px;
	line-height:40px;
}
.wrap-top{
	margin: 2% auto auto 2%;
}
.wrap-logo{
    margin-top: 50px;	
	text-align:center;
}
.p3{padding-bottom: 5px;}
.p4{padding-bottom: 5px;}
.fot{
	color: #fff;
	text-align: center;
}
.fot-left{
	float: left;	
	margin-left: 55px
}
.fot-right{
	float: right;
	margin-right: 55px;
}
