body{
	margin:0 auto;
	padding: 0px;
	background-color: #68cdd5;
	min-width:320px;
	height: 605px;
}
p{
	color: white;
	font-size: 16px;
	padding: 16%;
	letter-spacing: 5px;
	line-height:30px;
	margin: 0;
}
.wrap-top{
	margin: 2% auto auto 2%;
}
.wrap-logo{
    margin-top: 25px;	
	text-align:center;
}
.p3{padding-bottom: 5px;}
.p4{padding-bottom: 5px;}
.fot{
	color: #fff;
	text-align: center;
}
.fot-left{
	float: left;	
	margin-left: 50px
}
.fot-right{
	float: right;
	margin-right: 50px;
}
